body {
    background: url(../img/bg_house.png) no-repeat center top / cover; 
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.title {
    color: #fff;
    font-size: 100px;
    margin-right: 100;
}

nav {
    margin-top: 25px;
    float: center;
}

.menu {
    padding: 0;
    display: block;
    float: left;
    margin-bottom: 85px;
}

.menu a {
    font-size: 24px;
    margin-right: 10px;
}

.text {
    float: left;
    color: #fff;
    width: 1145px;
    font-size: 24px;
    font-weight: bold;
}

.audio {
    float: right;
}

.letter{
    width: 350px;
    height:50px;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
} 
   
.check {
    position: relative; bottom: 5px;
    padding: 17px 30px;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #08d14b;
}  
