body {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    font-size: 48px;
    color: white;
    background-color: black;
    height: 110px;
}

.container {
    background-color: brown;
    width: 1700px;
    margin: 0 auto;
}
