body {
    background: url(../img/bg_house.png) no-repeat center top / cover; 
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.title {
    color: #fff;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Russo One', Arial, sans-serif;
}

.text {
    float: left;
    color: #fff;
    width: 1145px;
    font-size: 24px;
    font-weight: bold;
}

.audio {
    position: relative;
    right: 45px;
    float: right;
    font-size: 120px;
    color: #FFF;
    border: 5px solid;
    border-radius: 50%;
    padding: 15px;
}

.letter{
    color: white;
    background: rgba( 0,0,0,.0);
    width: 350px;
    height:50px;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding-left: 10px;
} 

.check {
    position: relative; 
    bottom: 5px;
    padding: 17px 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    border-color: rgb(55, 222, 106);
    background: rgba(0, 0, 0,.0) ;
}  

.page_green {
    margin-top: 50px;
    font-size: 36px;
    margin-right: 10px;
    background: rgba( 0,0,0,.0);
    border-color: rgb(55, 222, 106);
    color: rgb(55, 222, 106);
    padding: 0px;
    height: 100px;
    width: 100px;
    float: left;
    padding: 10;
    border: 5px solid;
    border-radius: 50%;
}

.page_white {
    margin-top: 50px;
    font-size: 36px;
    margin-right: 10px;
    background: rgba( 0,0,0,.0);
    border-color: #FFF;
    color: #FFF;
    padding: 0px;
    height: 100px;
    width: 100px;
    float: left;
    padding: 10;
    color: #FFF;
    border: 5px solid;
    border-radius: 50%;
}